// Place all the styles related to the api/bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.blue-star {
  color: #008489;
  box-sizing: border-box;
  width: 97%;
  padding: 7px 1px;
}

.grey-star {
  color: grey;
  box-sizing: border-box;
  width: 97%;
  padding: 7px 1px;
}

.booking-footer {
  display: flex;
  border-top: 1px solid lightgrey;
  width: 90%;
  padding-top: 10px;
}

.booking-footer-text {
  box-sizing: border-box;
  margin: 5px auto;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 3px;
  margin-bottom: 10px;


}

.booking-footer-text-header {

  font-weight: 600;
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  font-family: 'Roboto', sans-serif;
  color: rgb(72, 72, 72);
  display: inline;
  margin: 0px;
}

.booking-footer-text-content {
  box-sizing: border-box;
  font-weight: 200;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.booking-form {
  width: 300px;
}

.bulb-img {
  height: 60px;
  width: 60px;
  background-image: url("https://ubisafe.org/images/orange-vector-light-bulb-3.png");
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: 40px 40px;
}


.booking-form-container {
  position: sticky;
  top: 100px;
  line-height: 18px;
  letter-spacing: normal;
  font-family: 'Roboto', sans-serif;
  color: #484848;
  font-size: 12px;
  font-weight: normal;
  margin-top: 10px;
  float: right;
  display: block;
  width: 30%;
  min-width: 356px;
  border: 1.4px solid #dbdbdb;
  border-radius: 1px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.DateInput_input DateInput_input_1{
  width: 60%;
}

.booking-form-review {
  box-sizing: border-box;
  padding: 8px 0px;
  width: 90%;
  font-weight: 600;
  overflow-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  color: rgb(72, 72, 72);
  display: inline;
  margin-top: -15px;
  text-align: left;
  border-bottom: 1px solid lightgrey;
}



.booking-button-box {
  margin: auto;
  box-sizing: border-box;
  width: 89%;
  height: 50px;
  font-size: 20px;
  background-color: #fc5b62;
  border-color: #fc5b62;
  color: white;
  font-weight: bold;
  padding: 7px 9px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  border-radius: 3px;

}

.price-tag {
  box-sizing: border-box;
  width: 97%;
  padding: 10px 9px;
}
.booking-text {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.booking-price {
  padding: 12px;
  padding-left: 0px;
  font-size: 20px;
  font-weight: 700;

}

select { -webkit-appearance: none; -webkit-border-radius: 0px; }

.booking-date-calendar {
  font-weight: 700;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 9px;
}

.booking-date {
  width: 95%;
  margin-top: 20px;
}


.booking-guests {
  font-weight: 700;
  margin: 20px auto;
  box-sizing: border-box;
  width: 95%;
  padding: 7px 9px;
}

.booking-guests-selector {
  border: 1px solid #dbdbdb;
  display: block;
  border-radius: 2px !important;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  height: 46px;
  font-size: 14px;
  font-weight: 200;
  color: #484848;
  padding-left: 15px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.label-date {
  font-size: 12px;
  font-weight: 500;
  margin: 5px auto;
  box-sizing: border-box;
  width: 95%;
  padding: 8px 9px;
  font-family: 'Roboto', sans-serif;
}

.label-guest {
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.booking-errors {
  box-sizing: border-box;
  width: 95%;
  padding: 1px 9px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fc5b62;
}

.booking-success {
  box-sizing: border-box;
  width: 95%;
  padding: 1px 9px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #008489;
  margin-top: -10px;
}
