// Place all the styles related to the api/bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blue-star {
  color: #008489;
  box-sizing: border-box;
  width: 97%;
  padding: 7px 9px;
}

.grey-star {
  color: grey;
}


.booking-form-container {
  position: sticky;
  top: 100px;
  line-height: 18px;
  letter-spacing: normal;
  font-family: 'Roboto', sans-serif;
  color: #484848;
  font-weight: normal;
  margin-top: 10px;
  float: right;
  display: block;
  width: 30%;
  min-width: 300px;
  border: 1.4px solid #dbdbdb;
  border-radius: 1px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.booking-form-review {
  box-sizing: border-box;
  padding: 7px 4px;
  width: 100%;
  font-weight: 600;
  overflow-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  color: rgb(72, 72, 72);
  display: inline;
  margin: 0px;
}

.booking-button-box {
  margin: 10px auto;
  box-sizing: border-box;
  width: 90%;
  height: 50px;
  font-size: 20px;
  background-color: #fc5b62;
  border-color: #fc5b62;
  color: white;
  font-weight: bold;
  padding: 7px 9px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  border-radius: 3px;

}

.price-tag {
  box-sizing: border-box;
  width: 97%;
  padding: 7px 9px;
}
.booking-text {
  text-align: center;
  padding: 10px;
}

.booking-price {
  padding: 12px;
  padding-left: 0px;
  font-size: 26px;
  font-weight: 700;

}

.booking-date-calendar {
  font-weight: 700;
  font-weight: 700;
  margin: 10px auto;
  box-sizing: border-box;
  width: 97%;
  padding: 7px 9px;
}

.booking-date {
  border: 1px solid #dbdbdb;
  color: #484848;
  display: block;
  height: 35px;
  font-size: 16px !important;
  border-radius: 3px !important;
  text-indent: 10px;
  width: 97%;
  margin-top: 10px;
}

.booking-guests-selector {
  background: #ffffff;
  text-align: left;
  line-height: normal;
  display: block;
  width: 98%;

  border-radius: none;
  border: 1px solid #EBEBEB;
  height: 40px;
  margin-top: 10px;

}

.label-date {
  font-size: 12px;
}

.booking-errors {
  box-sizing: border-box;
  width: 97%;
  padding: 1px 9px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fc5b62;
}

.booking-success {
  box-sizing: border-box;
  width: 97%;
  padding: 1px 9px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #32CD32;
}

.booking-guests {
  font-weight: 700;
  margin: 10px auto;
  box-sizing: border-box;
  width: 95%;
  padding: 7px 9px;
}
