.filterBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  top: 93px;
  background-color: white;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 15px;
  padding-left: 14px;
  border-bottom: 1px solid rgb(240, 238, 238);
  border-top: 1px solid rgb(240, 238, 238) ;
  z-index: 2;
}

.filterButton {
  margin-left: 15px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: undefined;
  color: #484848;
  padding-top: 6px;
  padding-bottom: 6px;
  background: none;
  border: 1px solid #dce0e0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
}
