body {
  margin: 0px;
}

#spot-map-sticky {
  position: sticky;
  top: 80px;
}
.homepage {
  background: url("https://cdngeneral.rentcafe.com/dmslivecafe/3/162865/_PRP0840.jpg?crop=(0,0,300,200)&cropxunits=300&cropyunits=200&quality=85&scale=both&");
  background-size: cover;
  height: 650px;
  height: 100vh;
}

.navBar {
  // overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  top: 0px;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 15px;
  z-index: 2;
  background-color: white;
  // height: 120px;
}

.navBar-homepage {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  top: 0px;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 15px;
  z-index: 500;
  // background-color: white;
}


.logo {
  max-width: 40px;
  max-height: 40px;
  position: relative;
  left: 30px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
}

.session-form {
  display: flex;
  width: 200px;
  // margin-left: 10px;
}

.nav-sign-up {
  color: black;
  height: 60px;
  background-color: transparent;
  border: none;
  float: right;
  padding: 15px;
  font-family: sans-serif;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 0px;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
}

.nav-sign-up:hover{
  border-bottom: 2px solid white;
}

button:focus {outline:0;}
