body {
  background: url("https://cdngeneral.rentcafe.com/dmslivecafe/3/162865/_PRP0840.jpg?crop=(0,0,300,200)&cropxunits=300&cropyunits=200&quality=85&scale=both&");
  background-size: cover;
  height: 650px;
}

.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 15px;
}

.top-left-navBar{
  width: 60%;
  position: relative;
  top: -10px;
  display: flex;
  }

.logo {
  max-width: 40px;
  max-height: 40px;
  position: relative;
  left: 30px;
  top: 10px;
  cursor: pointer;
}

 .top-right-navBar{
   width: 100%;
   position: relative;
   left: 50px;
   top: -10px;
   display: flex;
 }

.nav-sign-up {
  height: 60px;
  background-color: transparent;
  border: none;
  float: right;
  padding: 15px;
  font-family: sans-serif;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 0px;
  color: white;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
}

.nav-sign-up:hover{
  border-bottom: 2px solid white;
}

button:focus {outline:0;}
