
.nav-bar-loggedin {
  height: 60px;
  width: 80px;
  background-color: transparent;
  border: none;
  float: right;
  font-family: sans-serif;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 0px;
  color: white;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
}


.nav-bar-loggedin-black {
  height: 60px;
  width: 80px;
  background-color: transparent;
  border: none;
  float: right;
  font-family: sans-serif;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 0px;
  color: black;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
}

.nav-bar-loggedin:hover {
   border-bottom: 2px solid white;
}
