
.nav-bar-loggedin {
  text-decoration: none;
  float: right;
  padding: 15px;
  font-family: sans-serif;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #00000000 transparent;
  color: white;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
}

// .nav-bar-loggedin:hover {
//   text-decoration: underline;
// }
