.show-content {
  // margin-top: 25px;
  // margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spot-show-image {
  max-height: 400px;
  width: 100%;
}

.spot-detail-show-page {
  width: 58.333333333333336%;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  list-style-type: none;
}
.spot-show-header {
  color: #572533;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
  margin-left: 100px;
}

.spot-show-title {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-left: 100px;
  margin-bottom: 15px;
}

.icon-list-show-page {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  font-size: 18px;
  margin-bottom: 15px;
}

.icon-show-page {
  margin-right: 10px;
}

.details-show-page {
  margin-left: 100px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: normal;
  width: 81%;

}
